Physarum-GUI/x64/
Physarum-GUI/SAVE_DATA/
Physarum-GUI/MAPS/
/Phytest/SAVE_DATA/
*.vs/
*.vscode
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.bcf
*.xml
*.run.xml
sfml-app
*.o
*/x64/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
node_modules/
googletest/
googletest-master/
googletest-master.zip
googletest-release-1.12.1.zip
googletest-src/
*googletest*
build/