PhyTest/Physarum-Test/x64/
PhyTest/Physarum-Test/SAVE_DATA/
PhyTest/Physarum-Test/MAPS/
Physarum-GUI/x64/
Physarum-GUI/SAVE_DATA/
Physarum-GUI/MAPS/
.vs/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.bcf
*.xml
*.run.xml
sfml-app
*.o