Physarum-GUI/x64/
Physarum-GUI/SAVE_DATA/
Physarum-GUI/MAPS/
.vs/
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fdb_latexmk
*.fls
*.synctex.gz
*.bbl
*.blg
*.bcf
*.xml
*.run.xml
sfml-app
*.o
*/x64/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
node_modules/
/Physarum-Test/Physarum-Test/
/Physarum-Test/SAVE_DATA/
/Physarum-Test/MAPS/